:root {
  /* Font */
  --font-stack: Helvetica, sans-serif;

  /* Colors */
  --primary-color-400: #fff;

  --accent-color-400: #b33951;

  --neutral-color-ligth: #f7fafc;
  --neutral-color-dark: #1c1f33;

  /* border */
  --border-none: none;
  --border-red: 1px red solid;

  /* Alert messages */
  /* Background */
  --bg-info-color: #cce5ff;
  --bg-danger-color: #f8d7da;
  --bg-success-color: #d4edda;
  --bg-warning-color: #fff3cd;
  --bg-dark-color: #d6d8d9;
  /* Border */
  --b-info-color: #b8daff;
  --b-danger-color: #f5c6cb;
  --b-success-color: #c3e6cb;
  --b-warning-color: #ffeeba;
  --b-dark-color: #c6c8ca;
  /* Font */
  --f-info-color: #004085;
  --f-danger-color: #721c24;
  --f-success-color: #155724;
  --f-warning-color: #856404;
  --f-dark-color: #1b1e21;

  --title-font-size: 3rem;
  --subtitle-font-size: 2rem;
  --xs-font-size: 0.75rem;
  --sm-font-size: 0.85rem;
  --base-font-size: 1rem;
  --lg-font-size: 2rem;
  --xl-font-size: 3rem;
  --2xl-font-size: 4rem;
  --3xl-font-size: 5rem;

  /* Tables */
  --header-bg-color: var(--neutral-color-dark);
  --header-font-color: var(--primary-color-300);
  --border-color: var(--neutral-color-ligth);
  --body-bg-color: #f3f3f3;
}
